
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. */

@layer base {
  :root {
    --background: 252 252 250;
    --foreground: 41 37 36;

    --card: 255 255 255;
    --card-foreground: 41 37 36;

    --popover: 255 255 255;
    --popover-foreground: 41 37 36;

    --primary: 194 65 12;
    --primary-foreground: 254 252 232;

    --secondary: 254 252 232;
    --secondary-foreground: 120 53 15;

    --muted: 245 245 244;
    --muted-foreground: 120 113 108;

    --accent: 254 240 138;
    --accent-foreground: 120 53 15;

    --destructive: 239 68 68;
    --destructive-foreground: 254 252 232;

    --border: 231 229 228;
    --input: 231 229 228;
    --ring: 194 65 12;

    --radius: 0.5rem;

    --sidebar-background: 252 252 250;
    --sidebar-foreground: 68 64 60;
    --sidebar-primary: 194 65 12;
    --sidebar-primary-foreground: 254 252 232;
    --sidebar-accent: 254 252 232;
    --sidebar-accent-foreground: 120 53 15;
    --sidebar-border: 231 229 228;
    --sidebar-ring: 194 65 12;
  }

  .dark {
    --background: 28 25 23;
    --foreground: 250 250 249;

    --card: 41 37 36;
    --card-foreground: 250 250 249;

    --popover: 41 37 36;
    --popover-foreground: 250 250 249;

    --primary: 251 146 60;
    --primary-foreground: 28 25 23;

    --secondary: 68 64 60;
    --secondary-foreground: 250 250 249;

    --muted: 68 64 60;
    --muted-foreground: 161 161 170;

    --accent: 68 64 60;
    --accent-foreground: 250 250 249;

    --destructive: 239 68 68;
    --destructive-foreground: 250 250 249;

    --border: 68 64 60;
    --input: 68 64 60;
    --ring: 251 146 60;

    --sidebar-background: 28 25 23;
    --sidebar-foreground: 231 229 228;
    --sidebar-primary: 251 146 60;
    --sidebar-primary-foreground: 28 25 23;
    --sidebar-accent: 68 64 60;
    --sidebar-accent-foreground: 231 229 228;
    --sidebar-border: 68 64 60;
    --sidebar-ring: 251 146 60;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
